{% extends 'base_layout.html' %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article List Page</title>
</head>
<body>
    <h1>This is the Article list page</h1>

    <div class="articles">

        <div class="article">
            <div class="row">
                {% for article in articles %}
                    <div class="card col-md-3" style="margin-right: 10px">

                        <h2><a href="#"> {{ article.title }}</a> </h2>
                        <p> {{ article.snippet }}</p>
                        <p>{{ article.date }}</p>

                    </div>
                {% endfor %}
            </div>
        </div>


    </div>
</body>
</html>

{% endblock %}